$main: #FF7F36;
// $white: #FFFFF0;
$white: #FFFFFF;
$black: #555555;
$yellow: #FEBF26;


$radius: 25px;

$pc: 1000px; // パソコン
$tab: 834px; // タブレット
$sp: 540px;  // スマホ
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin -pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

#privacy{
  .bord05{
    font-family:Hiragino Mincho ProN;
    padding-top: 8rem;
  }
}
header{
  background-color: #FEB200;
  // position: fixed;
  width: 100vw;
  z-index: 999;
  @include sp{
    height: 9rem;
  }
  img{
    max-width: 16rem;
    width: 30%;
    @include tab{
      width: 50%;
    }
  }
  .pc{
    display:flex;
    align-items:center;
    @include tab {
      width: 92%;
    }
    @include sp {
      display:none;
    }
  }
  .header-flex{
    display: flex;
    justify-content:space-between;
  }
  .nav{
    .nav_btn{
      line-height:2rem;
      height: 2.5rem;
      border-radius: 10px;
      a{
        padding: 0.2rem 0.5rem;
        color: #707070;
        @include tab {
          font-size: 2.7rem;
        }
        &:hover{
          transition: 0.3s;
          color: #909090;
        }
      }
    }
  }
}

@import url('https://fonts.googleapis.com/css?family=Merienda');

.bg_animation{
  position: relative;
  svg {
    height: 16rem;
    width: 100%;
    position: absolute;
    top: -116px;
    left: 0;
    @include sp{
      height: 32rem;
    }
  }
}
html{
  font-size: 62.5%;
  @media (max-width:1920px){
     // font-size: 0.52vw;
  }
  // @media (max-width:1150px){
  //   font-size:5.9px;
  // }
  @include tab{
    font-size: 1.4vw;
  }
  @include sp{
    font-size: 1.4vw;
  }
}
body{
  background-color: $yellow;
  color: $black;
  font-family: 'Noto Sans JP', sans-serif;
  padding: 0;
  margin: 0;
}
h1{
  font-size: 6.4rem;
}
h2{
  font-size: 9.6rem;
}
h3{
  font-size: 4.8rem;
}
h4{
  font-size: 3.6rem;
}
h5{
  font-size: 2.4rem;
}
p{
  font-size: 1.8rem;
}
.inline{
  max-width: 1600px;
  width: 88%;
  margin: 0 auto;
  @include pc {
    width: 100%;
    padding: 0 2rem;
  }
}
.pc{
  @include tab{
    display: none;
  }
}
.sp{
  display:none;
  @include tab{
    display:block;
  }
}
.pc_flex{
  display:flex;
  @include tab{
    display:block;
  }
}
.flex{
  display:flex;
}
.bg_white{
  background-color: $white;
  width: 100%;
  border-radius: $radius;
}
.bg_orange{
  background-color: $yellow;
}
.sec_title{
  text-align: center;
  h2{
    font-style: normal;
    font-weight: normal;
  }
  h5{
    margin-top: 4rem;
    margin-bottom: 8rem;
  }
}
.text_color{
  color:$main;
}
#top{
  padding-bottom: 7rem;
  .catch_bg_white{
    background: $white;
  }
  .catch{
    padding-top: 6rem;
    padding-bottom: 12rem;
    text-align: center;
    h5{
      margin-top: 1rem;
    }
    img{
      width: 56rem;
    }
  }
  .bg_orange{
    padding-top: 16rem;
    .about{
      text-align: center;
      width: 80%;
      margin: 0 auto;
      font-weight: 700;
      font-size: 1.8rem;
    }
    .power{
      margin-top: 10rem;
      text-align: center;
      width: 100%;
      .inline{
        width: 100%;
        max-width: 1000px;
        margin:0 auto;
        padding: 4rem 0;
        h3{
          color: $main;
        }
        .pc_flex{
          justify-content:space-between;
          align-items: flex-end;
          .card{
            border:none;
            width: 28.3rem;
            background-color: $white;
            border-radius: $radius;
            @include tab{
              margin:auto;
              margin-top: 3rem;
            }
            .img{
              width: 100%;
              padding-bottom: 2rem;
              img{
                width: 80%;
              }
            }
          }
          .card2{
            .img{
              padding-bottom: 3rem;
            }
          }
        }
      }
    }
  }
  .button{
    width: 67.3rem;
    height: 10rem;
    margin: auto;
    margin-top: 8rem;
    button{
      width: 100%;
      height: 100%;
      border-radius: 66px;
      background-color: $main;
      border: solid 4px $white;
      color: $white;
      font-weight:900;
    }
  }
}

#service{
  padding-top: 11.2rem;
  padding-bottom: 20rem;
  background-image: url(../img/material/bg.png);
  background-repeat:no-repeat;
  background-size:cover;
  .course{
    width: 100%;
    .course_card{
      width: 58rem;
      // height: 17.3rem;
      padding: 30px 50px;
      box-shadow: 7px 7px 0px #404040;
      border-radius: 43px 38px 54px 32px;
      margin: 0 auto;
      margin-bottom: 4rem;
      @include tab{
        // height: 20rem;
        text-align: center;
      }
      .pc_flex{
        justify-content: space-between;
        .img{
          order:2;
          @include tab{
            margin:auto;
          }
        }
        .course_name{
          order:1;
        }
      }
      h4{
        color: $main;
      }
      p{
        font-size: 1.4rem;
      }
      .img {
        width: 5.6rem;
        height: 6.8em;
        img{
          width: 100%;
        }
      }
      .button{
        width: 10.8rem;
        height: 2.4rem;
        margin: 0;
        @include tab{
          margin:auto;
        }
        button{
          width: 100%;
          height: 100%;
          border: 1px solid $main;
          color: $main;
          background-color: $white;
          box-sizing: border-box;
          border-radius: 19.5px;
          transition:0.3s;
          &:hover{
            background-color: $main;
            color: $white;
          }
        }
      }
      .detail_inline{
        display:none;
        width: 50%;
        margin:auto;
        padding: 1rem 0;
        .detail_title{
          text-align: center;
          color:$main;
          margin: 2rem 0;
        }
        .detail_text.flex{
          justify-content:space-between;
        }
      }
    }
  }
  .flow{
    margin-top: 11rem;
    .inline{
      width: 100%;
      max-width:1000px;
      margin: auto;
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
    h3{
      text-align: center;
      padding-bottom: 8rem;
    }
    .pc_flex{
      justify-content:space-between;
      padding: 0 8.3rem;
    }
    .flow_card{
      width: 26%;
      text-align: center;
      margin: 0 auto;
      @include tab{
        width: 40%;
      }
      .img{
        width: 100%;
        img{
          width: 100%;
        }
      }
      h5{
        margin-top: 2rem;
      }
    }
  }
  .voice{
    margin-top: 20rem;
    text-align: center;
    h3{
      padding-bottom: 8rem;
    }
    .pc_flex{
      max-width: 100rem;
      width: 88%;
      margin:auto;
      justify-content:space-between;
    }
    .voice_card{
      width: 27rem;
      @include tab{
        margin: 0 auto;
        margin-bottom: 4rem;
      }
      .bg_white{
        padding: 4rem 0;
        width: 95%;
        @include tab {
          width: 100%;
        }
      }
    }
    .button{
      margin-top: 4.5rem;
      button{
        width: 18.7rem;
        height: 3.8rem;
        font-size: 1.8rem;
        border: 3px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 42px;
        background-color: $yellow;
        color: $white;
      }
    }
  }
  .students_work{
    margin-top: 20rem;
    text-align: center;
    h3{
      padding-bottom: 8rem;
    }
    .pc_flex{
      max-width: 100rem;
      width: 88%;
      margin:auto;
      justify-content:space-between;
    }
    .work_card{
      width: 27rem;
      @include tab{
        margin: 0 auto;
        margin-bottom: 4rem;
      }
      .bg_white{
        padding-top: 4rem;
        padding-bottom: 1.9rem;
        width: 95%;
        @include tab {
          width: 100%;
        }
      }
      .img{
        width: 90%;
        height: 15.9rem;
        margin:auto;
        img{
          object-fit:cover;
          border-radius: 23px;
          width:100%;
          height: 100%;
        }
        .img_demo{
          width: 100%;
          height: 100%;
          background: #707070;
          border-radius: 23px;
        }
      }
      .text{
        padding-top: 1.9rem;
        p{
          font-size: 1.4rem;
        }
        .course_name{
          margin-bottom: 0.5rem;
        }
        .work_title{
          color:$main;
        }
      }
    }
    .button{
      margin-top: 4.5rem;
      button{
        width: 18.7rem;
        height: 3.8rem;
        font-size: 1.8rem;
        border: 3px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 42px;
        background-color: $yellow;
        color: $white;
      }
    }
  }
  .price{
    padding-top: 20rem;
    text-align: center;
    h3{
      padding-bottom: 8rem;
    }
    .inline{
      max-width: 88.3rem;
      width: 88%;
      position: relative;
      margin: 0 auto;
    }
    .simple{
      padding-top: 9rem;
      padding-bottom: 1.7rem;
      font-size: 1.4rem;
    }
    .tanka{
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 26px;
      color: $main;
    }
    span{
      font-size: 1.4rem;
      position: absolute;
      right: 22%;
      bottom: 36%;
      @include tab{
        right: 10%;
      }
    }
    .attention{
      padding-bottom: 10rem;
      p{
        font-size: 1.4rem;
        color: #FF3434;
      }
    }
  }
  .big_text{
    text-align: center;
    margin-top: 20rem;
    margin-bottom: 1rem;
    position: relative;
    // &:before{
    //   content:"";
    //   border-left:6px solid $black;
    //   height: 11.8rem;
    //   position: absolute;
    //   transform: rotate(-30deg);
    //   top: -31%;
    //   left: 31%;
    // }
    // &:after{
    //   content:"";
    //   border-left:6px solid $black;
    //   height: 11.8rem;
    //   position: absolute;
    //   transform: rotate(30deg);
    //   top: -31%;
    //   right: 31%;
    // }
  }
  .button{
    width: 67.3rem;
    height: 10rem;
    margin: auto;
    margin-top: 6rem;
    button{
      width: 100%;
      height: 100%;
      border-radius: 66px;
      background-color: $main;
      border: solid 4px $white;
      color: $white;
      font-weight:900;
    }
  }
}
#members{
  padding-top: 11.2rem;
  padding-bottom: 20rem;
  background: #F7F6F5;
  .sec_title{
    h2{
      color:#FEB200;
    }
    h5{
      margin-bottom: 14.7rem;
    }
  }
  .member_card{
    .inline{
      width: 100%;
      max-width:100rem;
      margin: auto;
      @include tab{
        width: 80%;
      }
    }
    .img{
      width: 47rem;
      padding-top: 1.7rem;
      padding-bottom: 1.9rem;
      padding-left: 2.5rem;
      margin-right: 5rem;
      @include tab{
        width: 100%;
        padding: 25px;
        padding-bottom: 0;
      }
      img{
        width: 100%;
      }
    }
    .text{
      padding-top: 4rem;
      @include tab{
        width: 100%;
        padding: 25px;
        padding-bottom: 0;
      }
      h3{
        padding-bottom: 1.6rem;
      }
      p{
        padding-bottom: 3.3rem;
      }
    }
    .buttons{
      padding-bottom: 2.5rem;
      @include tab{
        width: 100%;
        padding-left: 25px;
      }
      .button{
        width: 16rem;
        height: 4.7rem;
        margin-right: 4rem;
        button{
          width: 100%;
          height: 100%;
          border: 1px solid $main;
          color: $main;
          background-color: $white;
          box-sizing: border-box;
          border-radius: 19.5px;
          transition:0.3s;
          font-size:1.6rem;
          &:hover{
            background-color: $main;
            color: $white;
          }
          a{
            color: $main;
            text-decoration-line:none;
            transition:0.3s;
            &:hover{
              color: $white;
              text-decoration-line:none;
            }
          }
        }
      }
      .sns{
        width: 4.7rem;
        margin-right: 4rem;
        img{
          width: 100%;
        }
      }
    }
  }
}
#contact{
  padding-top: 13.3rem;
  padding-bottom: 20rem;
  background-color: $white;
  .inline{
      width: 100%;
      max-width:100rem;
      margin: auto;
  }
  .pc_flex{
    justify-content:space-between;
  }
  .flex{
    @include tab{
      justify-content:center;
    }
  }
  .logo{
    width: 9rem;
    img{
      width: 100%;
    }
  }
  .buttons{
    @include tab{
      text-align: center;
      margin-top: 4rem;
    }
    .flex{
      justify-content: center;
    }
    p{
      color:$main;
    }
    .insta{
      width: 4.2rem;
      margin-right: 2rem;
      img{
        width: 100%;
      }
    }
    .line{
      margin-left: 2rem;
      img{
        max-height: 40px;
        height: 4rem;
      }
    }
  }
}
#qa{
  padding-top: 13.3rem;
  padding-bottom: 20rem;
  img{
    width: 4rem;
    margin-right: 4rem;
  }
  .sec_title{
    h2{
      color:#FFF;
    }
  }
  .qa{
    margin-bottom: 2rem;
    .bg_white{
        padding-bottom: 2rem;
      .qa_header{
        padding: 2rem;
        cursor: pointer;
      }
    }
  }
  .bg_gray{
    width: 90%;
    margin:auto;
    padding: 2rem;
    background: #EEEEEE;
    border-radius: 25px;
    display:none;
  }
}

footer{
  background-color: $yellow;
  text-align: center;
}
